.slider {
    text-align: center;
}

.slider__left {
    float: left;
    width: 5%;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.slider__center {
    width: 90%;
    float: left;
}

.slider__center-content {
    color: white;
}

.slider__right {
    float: left;
    width: 5%;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

.slider__right-link {
    text-decoration: none;
    color: white;
}

.slider__left-link {
    text-decoration: none;
    color: white;
}

