.vasya {
    background-image: url("../../images/oboi.jpg");
    background-size: cover;
    background-attachment: fixed;

    overflow: auto;
}

.vasya__header {
    padding-bottom: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.vasya__header-logo {
    float: left;
    margin-top: 20px;
}

.vasya__header-logo-link {
    text-decoration: none;
    color: #f4f4f4;
    vertical-align: middle;
    padding: 5px;
}
